@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@1,700&family=Roboto+Mono:ital,wght@1,700&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: scale3d() scale3d() scale3d() scale3d() scale3d() rotate(360deg);
  }
}
/*SECTION STYLING*/

.page-container {
  background: silver;
  padding-top: 1%;
  padding-bottom: 10%;
}

.login-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 5%;
}
.login-button {
  width: 130px;
  background: dodgerblue;
  border-radius: 5px;
  color: white;
}
.login-button:hover {
  background: silver;
}
.submit-button {
  padding-top: 2%;
}
.errors {
  color: red;
}
h1 {
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

.splash-h2s {
  font-size: 32px;
}
.splash-h3s {
  font-size: 20px;
}
.splash-h4s {
  color: white;
}
.menu-links {
  color: white;
}
.menu-links:hover {
  color: black;
}

.login-splash {
  display: flex;
  flex-direction: row;

  width: 30%;
  margin: auto;

  background: darkblue;
  border-radius: 20px;
  box-shadow: -10px 10px 10px white;
}
/*media queries*/
.topic {
  background: white;
}
#sub-but {
  background: white;
  margin: 15% 5%;
  color: black;
  border-radius: 10px;
}
#ticket-but {
  background: white;
  border-radius: 10px;
}

.input-style {
  border-radius: 20px;
  border: 2px solid dodgerblue;
  background: white;
  font-size: 20px;
  text-align: center;
}

.header {
  width: 50%;
  margin: auto;
}

.logo {
  font-family: 'IBM Plex Sans', sans-serif;
}
/*TICKET QUEUE STYLES*/
.ticket-que-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: darkblue;
  padding: 1% 10%;
}

/*CREATE TICKET STYLES*/
.ticket-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: auto;
  border-radius: 20px;
  background: darkblue;
  padding: 2%;
  box-shadow: -10px 10px 10px white;
}
@media (max-width: 800px) {
  .login-splash {
    width: 80%;
  }
  .ticket-box {
    width: 95%;
    margin: auto;
  }
}
@media (max-width: 500px) {
  .header {
    width: 80%;
  }

  .ticket-box {
    width: 95%;
    margin: auto;
  }
}
.asterisk {
  color: firebrick;
}

.littleCard {
  text-align: center;
  width: 25%;
  padding: 1%;

  border: 2px solid white;
  border-radius: 5px;
  margin: 5% 70% 0% 0%;
  color: whitesmoke;
  background: black;
  box-shadow: 10px 10px 10px dodgerblue;
}

.bigCard {
  display: none;
}

.bigCardOn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1%;
  position: relative;
  margin: 8.5% 16%;

  width: 45%;
  border: 2px solid darkslategrey;
  border-radius: 5px;
  color: white;
  background: darkslategrey;
  box-shadow: -10px 10px 10px black;
}
#help-buttons {
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  box-shadow: -3px 3px silver;
  font-weight: bold;
}
#help-buttons:hover {
  background: lightgrey;
}
#unAS {
  border-radius: 5px;
  width: 30%;
}
@media (max-width: 800px) {
  #unAS {
    width: auto;
  }
}
@media (max-width: 800px) {
  .bigCardOn {
    width: 40%;
    margin: 15%;
  }
}
@media (max-width: 500px) {
  .bigCardOn {
    margin: 22% 25%;
    padding: 3%;
  }
  .littleCard {
    width: 40%;
    margin: 5% 65% 0% 0%;
  }
}

.cardContainer {
  margin-right: 70%;
  margin-top: 30%;
  color: white;
}
h6 {
  border-radius: 3%;
  border: 3px solid white;
  width: 20%;
  text-align: center;
  padding: 1%;
}

.Done {
  display: none;
}
.Done-on {
  display: block;
  color: green;
}

.helper {
  display: none;
}

.helper-on {
  display: flex;
}